@font-face {
    font-family: "Montserrat-light";
    src: url("fuente/Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-regular";
    src: url("fuente/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url("fuente/Montserrat/static/Montserrat-SemiBold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background:  no-repeat center/cover fixed url("img/fondo.jpg");
}

// ======================= BARRA NAVEGABLE =======================
nav {
    width: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    display: none;                  // PENDIENTE
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5%;
}


// ======================= CENTRO INICIO =======================

.centro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// ============= CENTRO IZQ ==============

.centro-izq {
    padding: 7%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.botones button{
    font-family: "Montserrat-regular";
    letter-spacing: .5px;
    width: 140px;
    height: 35px;
    background: none;
    border: 1px solid black;
    border-radius: 50px;
}

#planes {
    color: white;
    background-color: black;
}

.botones button:hover{
    color: white;
    border: 1px solid white;
}

#planes:hover {
    background: none;
}

.centro-text {
    padding-left: 1.5%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.centro-text h1 {
    font-family: "Montserrat-semibold";
    letter-spacing: 5px;
}

.centro-text p {
    font-family: "Montserrat-light";
    letter-spacing: .5px;
}

.bar-busqueda {
    border: 1px solid black;
    border-radius: 50px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.bar-busqueda:hover {
    border: 1px solid white;
}

.bar-busqueda input {
    background: none;
    border: none;
    outline: none;
    width: 90%;
}

.bar-busqueda input::placeholder {
    color: rgba(0, 0, 0, 0.503);
}

.bar-busqueda img {
    width: 18px;
}

// ============= CENTRO DER ==============

.centro-der img{
    display: none;
}


// ======================= CURSOS =======================
.cursos {
    padding: 7%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.cursos-izq {
    font-family: "Montserrat-semibold";
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cursos-izq p{
    font-family: "Montserrat-light";
    letter-spacing: .5px;
}

.cursos-der {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.carta {
    padding: 8%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Montserrat-semibold";
    transition: all ease-in-out 0.15s;
} 

.carta div {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.carta div p {
    font-family: "Montserrat-light";
    font-size: 14px;
}

.carta button {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 25px;
    background: none;
    width: 90%;
    min-height: 35px;
    align-self: center;
}

// ============= CARTAS HOVER ==============
.carta:hover {
    transform: scale(1.01);
} 

.carta button:hover {
    color: white;
    border: 1px solid white;
}



// ================================== ORDENADORES ======================================
@media screen and (min-width: 1000px) {
    nav {
        display: block;
    }

    .centro {
        border:2px solid white;
        flex-direction: row;
        justify-items: center;
    }

    .centro-izq {
        align-items: flex-start;
    }

    .bar-busqueda {
        padding: 2%;
        width: 100%;
        height: 55px;
        border: 2px solid black;
    }

    .bar-busqueda input::placeholder{
        font-family: "Montserrat-regular";
        font-size: 14px;
    }

    .centro-der img{
        display: block;
    }
}